.top-nav-collapse {
    background-color: #FF9900;
}

.dropdown-menu, .dropdown-menu li a {
    /*max-width: 300px;*/
    white-space: normal;
}

iframe {
    background-color: #ececee;
    background-image: url("../img/ripple.gif");   
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
